<%layout("/layouts/boilerplate")%>
    
    <style>
        #filters{
            display: flex;
            flex-wrap: wrap;
            margin-left: 1rem;
            align-items: center;
        }
        .filters{
     margin-right: 2.15rem;
     text-align: center;
     margin-top:  2rem;
     opacity: 0.7;
}

        .filters p{
            font-size: 0.8rem;
        }
        .filters:hover{
            opacity: 1;
            cursor: pointer;
        }
     .tax-info{
        display: none;
     }
     
     .tax-toogle{
       border: 1px solid black;
        border-radius: 1rem;
        height: 1.5rem;
        padding: 1rem;
        margin-left: 5rem;
        display: flex;
        align-items: center;

     }   
    </style>
    <div id="filters">
        <div class="filters">
          <div><i class="fa-solid fa-fire"></i></div> 
           <P> Trending</P>
        </div>
        <div class="filters">
            <div><i class="fa-solid fa-bed"></i></div> 
             <P>Rooms</P>
          </div>
          <div class="filters">
            <div><i class="fa-solid fa-mountain-sun"></i></div> 
             <P> Iconic cities</P>
          </div>
          <div class="filters">
              <div><i class="fa-solid fa-mountain"></i></div> 
               <P>Mountain</P>
            </div>
            <div class="filters">
                <div><i class="fa-brands fa-fort-awesome"></i></div> 
                 <P>Castles</P>
              </div>
              <div class="filters">
                <div><i class="fa-solid fa-person-swimming"></i></div> 
                 <P>Amazing pool</P>
              </div>
              <div class="filters">
                <div><i class="fa-solid fa-campground"></i></div> 
                 <P>Camping</P>
              </div>
              <div class="filters">
                  <div><i class="fa-solid fa-tractor"></i></div> 
                   <P>Farms</P>
                </div>
                <div class="filters">
                  <div><i class="fa-solid fa-snowman"></i></div> 
                   <P>Artic</P>
                </div>
                <div class="filters">
                    <div><i class="fa-solid fa-landmark-dome"></i></div> 
                     <P>Dome</P>
                  </div>
                  <div class="filters">
                    <div><i class="fa-solid fa-sailboat"></i></div> 
                     <P>Boats</P>
                  </div>
                <div class="tax-toogle">
                    <div class="form-check-reverse form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Display Total After Taxes</label>
                      </div>
                </div>
  
    </div>
   <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3" >
    <% for(let listings of allistings) {%>
        
            <div class="card cols listing-card" >
                <a href="/listings/<%=listings._id%>" class="listing-link">
                <img src="<%= listings.image.url %>" class="card-img-top" alt="listing_image"  style="height: 20rem;">
                <div class="card-img-overlay">

                </div>
                  <div class="card-body">
                     <p class="card-text"><%= listings.title %><br>
                     &#8377;<%= listings.price.toLocaleString("en-IN")%>
                     <i class="tax-info">&nbsp;+18% GST:</i> 
                     <I class="tax-info">&nbsp; Total price= <%=listings.price*0.18+listings.price %></I>
                    </p>
                    
                </div>
                </a>
            </div>
        
      
      <%}%>
    </div>

<script>
    let taxSwitch=document.getElementById("flexSwitchCheckDefault");
    taxSwitch.addEventListener("click",()=>{
         let taxinfo=document.getElementsByClassName("tax-info");
       
         for(info of taxinfo){
            if( info.style.display!="inline"  ){
                info.style.display="inline";
              
                
            }else{
                info.style.display="none";
                
            }
          
         }
        
    });
</script>